<div>

<!-- Mask -->

	<!-- field02:	Libro  -->

<div class="btn-group">
	<p>{{field02}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Libro <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeData('field02','__')">__</a></li>
		<li ng-repeat="record in table | filter:filterData | unique: 'field02'">
			<a ng-click="changeData('field02','{{record.field02}}')">{{record.field02}}</a>
		</li>
	</ul>
</div>

	<!-- field03:	Passo  -->

<div class="btn-group">
	<p>{{field03}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Passo <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeData('field03','__')">__</a></li>
		<li ng-repeat="record in table | filter:filterData | unique: 'field03'">
			<a ng-click="changeData('field03','{{record.field03}}')">{{record.field03}}</a>
		</li>
	</ul>
</div>

	<!-- field04:	Data  -->

<div class="btn-group">
	<p>{{field04}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Data <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeData('field04','__')">__</a></li>
		<li ng-repeat="record in table | filter:filterData | unique: 'field04'">
			<a ng-click="changeData('field04','{{record.field04}}')">{{record.field04}}</a>
		</li>
	</ul>
</div>

	<!-- field05:	Tema  -->

<div class="btn-group">
	<p>{{field05}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Tema <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeData('field05','__')">__</a></li>
		<li ng-repeat="record in table | filter:filterData | unique: 'field05'">
			<a ng-click="changeData('field05','{{record.field05}}')">{{record.field05}}</a>
		</li>
	</ul>
</div>

	<!-- field06:	Titolo  -->

<div class="btn-group">
	<p>{{field06}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Titolo <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeData('field06','__')">__</a></li>
		<li ng-repeat="record in table | filter:filterData | unique: 'field06'">
			<a ng-click="changeData('field06','{{record.field06}}')">{{record.field06}}</a>
		</li>
	</ul>
</div>

	<!-- field07:	Destinatari  -->

<div class="btn-group">
	<p>{{field07}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Destinatari <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeData('field07','__')">__</a></li>
		<li ng-repeat="record in table | filter:filterData | unique: 'field07'">
			<a ng-click="changeData('field07','{{record.field07}}')">{{record.field07}}</a>
		</li>
	</ul>
</div>


<!-- Table of results -->

	<table>
		<tr>
			<th>Libro</th>
			<th>Passo</th>
			<th>Data</th>
			<th>Tema</th>
			<th>Titolo</th>
			<th>Destinatari</th>
			<th>LinkSito</th>
		</tr>
		<tr ng-repeat="record in table | filter:initFilterData | orderBy:record.field01">
			<td>{{record.field02}}</td>
			<td>{{record.field03}}</td>
			<td>{{record.field04}}</td>
			<td>{{record.field05}}</td>
			<td>{{record.field06}}</td>
			<td>{{record.field07}}</td>
			<td>{{record.field08}}</td>
		</tr>
	</table>
</div>

