
<div>
<!-- Mask: Ricerca per singolo campo -->

<h1>Ricerca per singolo campo</h1>


        <!-- field06:		Titolo  -->

<div>
	{{field06}}
	<br/>
	<label>
		Titolo:
		<input type="text" ng-model="field06" ng-click="changeResetData('field06','{{field06}}')" />
	</label>
</div>


	<!-- field03.subfield01:	Libro  -->

<div class="btn-group">
	<p>{{field02}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Libro <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeResetData('field02','__')">__</a></li>
		<li ng-repeat="record in table | extractUniqueSubField: 'field03':'subfield01'| orderBy: bibleBookNumber">
			<a ng-click="changeResetData('field02','{{record}}')">{{record}}</a>
		</li>
	</ul>
</div>

	<!-- field03.subfield02:   Passo  -->
<div class="btn-group">
	<p>{{field03}}</p>
	<button type="button" ng-disabled="field02=='__'" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Passo <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeData('field03','__')">__</a></li>
		<li ng-repeat="record in table | filter:filterData | extractUniqueSubField: 'field03':'subfield02' | orderBy:citOrder">
			<a ng-click="changeResetData('field03','{{record}}')">{{record}}</a>
		</li>
	</ul>
</div>

	<!-- field04:   Data  -->

<div class="btn-group">
	<p>{{field04}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Data <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeResetData('field04','__')">__</a></li>
		<li ng-repeat="record in table | unique: 'field04'">
			<a ng-click="changeResetData('field04','{{record.field04}}')">{{record.field04}}</a>
		</li>
	</ul>
</div>


	<!-- field05.subfield01:   Tema  -->

<div class="btn-group">
	<p>{{field05}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Tema <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeResetData('field05','__')">__</a></li>
		<li ng-repeat="record in table | extractUniqueSubField: 'field05':'subfield01'">
			<a ng-click="changeResetData('field05','{{record}}')">{{record}}</a>
		</li>
	</ul>
</div>


	<!-- field07.subfield01:   Destinatari  -->

<div class="btn-group">
	<p>{{field07}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Destinatari <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeResetData('field07','__')">__</a></li>
		<li ng-repeat="record in table | unique: 'field07'">
			<a ng-click="changeResetData('field07','{{record.field07}}')">{{record.field07}}</a>
		</li>
	</ul>
</div>


<!-- Mask: Ricerca per filtro -->

<h1>Ricerca per filtro</h1>


        <!-- field06:		Titolo  -->

<div>
	{{field06}}
	<br/>
	<label>
		Titolo:
		<input type="text" ng-model="field06"/>
	</label>
</div>


	<!-- field03.subfield01:	Libro  -->

<div class="btn-group">
	<p>{{field02}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Libro <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeData('field02','__')">__</a></li>
		<li ng-repeat="record in table | filter:filterData | extractUniqueSubField: 'field03':'subfield01'| orderBy: bibleBookNumber">
			<a ng-click="changeData('field02','{{record}}')">{{record}}</a>
		</li>
	</ul>
</div>

	<!-- field03.subfield02:   Passo  -->
<div class="btn-group">
	<p>{{field03}}</p>
	<button type="button" ng-disabled="field02=='__'" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Passo <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeData('field03','__')">__</a></li>
		<li ng-repeat="record in table | filter:filterData | extractUniqueSubField: 'field03':'subfield02' | orderBy:citOrder">
			<a ng-click="changeData('field03','{{record}}')">{{record}}</a>
		</li>
	</ul>
</div>

	<!-- field04:   Data  -->

<div class="btn-group">
	<p>{{field04}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Data <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeData('field04','__')">__</a></li>
		<li ng-repeat="record in table | filter:filterData | unique: 'field04'">
			<a ng-click="changeData('field04','{{record.field04}}')">{{record.field04}}</a>
		</li>
	</ul>
</div>


	<!-- field05.subfield01:   Tema  -->

<div class="btn-group">
	<p>{{field05}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Tema <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeData('field05','__')">__</a></li>
		<li ng-repeat="record in table | filter:filterData | extractUniqueSubField: 'field05':'subfield01'">
			<a ng-click="changeData('field05','{{record}}')">{{record}}</a>
		</li>
	</ul>
</div>


	<!-- field07.subfield01:   Destinatari  -->

<div class="btn-group">
	<p>{{field07}}</p>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		Destinatari <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a ng-click="changeData('field07','__')">__</a></li>
		<li ng-repeat="record in table | filter:filterData | unique: 'field07'">
			<a ng-click="changeData('field07','{{record.field07}}')">{{record.field07}}</a>
		</li>
	</ul>
</div>


        <!-- Cancella Ricerca  -->

<div class="btn-group">
	<p></p>
	<button type="button" class="btn btn-default" ng-click="changeResetData('field01','__')">
		Cancella Ricerca
	</button>
</div>


<!-- Table of results -->

<h1>Risultati:</h1>

	<table>
		<tr>
			<th>Titolo</th>
			<th>Pericope</th>
			<th>Data</th>
			<th>Tema</th>
			<th>Destinatari</th>
                </tr>
		<tr ng-repeat="record in table | filter:initFilterData | orderBy:recordOrder">
                        <td><a target="_blank" ng-href={{record.field08}}>{{record.field06}}</a></td>
                        <td> <ul>
				<li ng-repeat="field in record.field03">
					 <a ng-click="changeResetData('field02','{{field.subfield01}}')">{{field.subfield01}}</a>
<a target="_blank" ng-href="http://www.lachiesa.it/bibbia.php?ricerca=citazione&Cerca=Cerca&Versione_CEI2008=3&Versione_CEI74=1&VersettoOn=1&Citazione={{field.subfield01}}+{{encode(field.subfield02)}}">{{field.subfield02}}</a>
				</li>
			</ul> </td>
                        <td><a ng-click="changeResetData('field04','{{record.field04}}')">{{record.field04}}</a></td>
                        <td> <ul>
				<li ng-repeat="field in record.field05">
					 <a ng-click="changeResetData('field05','{{field.subfield01}}')">{{field.subfield01}}</a>
				</li>
			</ul> </td>
                        <td><a ng-click="changeResetData('field07','{{record.field07}}')">{{record.field07}}</a></td>
                </tr>
        </table>
</div>

</div>

